# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# gRPC Server Configuration
LOG_MSERVICE_GRPC_HOST=[::]
LOG_MSERVICE_GRPC_PORT=50051
