# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# HTTP Health-check Server Configuration
LOG_MSERVICE_HTTP_HOST=0.0.0.0
LOG_MSERVICE_HTTP_PORT=8080

# gRPC Server Configuration
LOG_MSERVICE_GRPC_HOST=[::]
LOG_MSERVICE_GRPC_PORT=50051
